# Multiple Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("F:\\A_Machine_Learning_Projects\\Multiple-Linear-Regression-master\\50_Startups.csv")

In [4]:
df.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [5]:
df.shape

(50, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [9]:
X=df.iloc[:,:-1]

In [13]:
y=df.iloc[:,4]

In [18]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [21]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [ ]:
# Convert the state column into categorical columns

In [22]:
states=pd.get_dummies(X['State'], drop_first=True)

In [24]:
states.head(2)

   Florida  New York
0        0         1
1        0         0

In [25]:
# Drop the State column
X=X.drop('State', axis=1)

In [27]:
# Concat the dummy variables
X=pd.concat([X,states], axis=1)

In [29]:
# Split data into train set and test set

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=0)

In [ ]:
# Fitting Multiple Linear Regression to the Training Set

In [31]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [33]:
# Predicting the test set results
y_pred=lr.predict(X_test)

In [35]:
from sklearn.metrics import r2_score
score=r2_score(y_test, y_pred)

In [36]:
print(score)

0.9347068473282423